body{
    background-color: #ebe7e74d;
}
#myCanvas{
    border: 2px solid #FFF;
    position: absolute;
    margin :auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
.display{
    margin-top: 80vh;
    margin-left: 40vw;
}